@import "font.css";

$blue100 :#182131;
$white100 :#fff;
$black400 : rgba(255, 255, 255, 0.32);


h1 {
    margin: 0;
    padding: 0;
}

body {
    font-family: vazir;
    margin: 0;
    padding: 0;
}

body, input, select, textarea, *{
    font-family: vazir;
}

input:focus{
    outline: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-color: $blue100;

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;

        .movie-logo {
            min-width: 20%;

            h1 {
                display: flex;
            }

            h1 a {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-decoration: none;

                span {
                    font-weight: 700;
                    color: $white100;
                    font-size: 27px;
                    padding: 3px 0;
                }
            }
        }

        .movie-searchbar {
            min-width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;

            input {
                width: 60%;
                font-size: 13px;
                background-image: url(../image/header/Icon.svg);
                background-repeat: no-repeat;
                background-color: $black400;
                color: $white100;
                padding: 8px 11px;
                border-radius: 25px;
                border: unset;
                background-position: 10px;
            }

            input::placeholder {
                color: $white100;
            }
            
        }

        .user-box {
            min-width: 20%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}