@import "font.css";
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: vazir;
  margin: 0;
  padding: 0;
}

body,
input,
select,
textarea,
* {
  font-family: vazir;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  background-color: #182131;
}
header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}
header .content .movie-logo {
  min-width: 23%;
}
header .content .movie-logo h1 {
  display: flex;
}
header .content .movie-logo h1 a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
header .content .movie-logo h1 a span {
  font-weight: 700;
  color: #fff;
  font-size: 27px;
  padding: 3px 0;
}
header .content .movie-searchbar {
  min-width: 54%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .content .movie-searchbar input {
  width: 60%;
  font-size: 13px;
  background-image: url(../image/header/Icon.svg);
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.32);
  color: #fff;
  padding: 12px 11px;
  border-radius: 25px;
  border: unset;
  background-position: 10px;
}
header .content .movie-searchbar input::-moz-placeholder {
  color: #808591;
}
header .content .movie-searchbar input::placeholder {
  color: #808591;
}
header .content .user-box {
  min-width: 23%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .content .user-box .profile-box {
  display: flex;
  align-items: center;
}
header .content .user-box .profile-box img {
  width: 40px;
  border-radius: 25px;
}
header .content .user-box .profile-box span {
  margin: 0 15px;
  color: #fff;
  font-size: 15px;
}
header .content .user-box .action :first-child {
  margin-left: 17px;
}

.movie-introduce {
  background-image: url(../image/movie_introduce/movie_introduce_background.jpg);
  background-size: cover;
  /* background: repeat; */
  background-repeat: no-repeat;
}
.movie-introduce .dark-background {
  background-color: rgba(16, 17, 17, 0.4588235294);
}
.movie-introduce .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
}
.movie-introduce .content .movie-image img {
  border-radius: 7px;
  margin-left: 40px;
}
.movie-introduce .content .movie-info .top h2 {
  color: #fff;
  font-size: 43px;
  font-weight: 600;
}
.movie-introduce .content .movie-info .top .note {
  color: #fff;
  display: flex;
  align-items: center;
}
.movie-introduce .content .movie-info .top .note p {
  margin-left: 19px;
}
.movie-introduce .content .movie-info .top .note .movie-preview {
  display: flex;
  align-items: center;
}
.movie-introduce .content .movie-info .top .note .movie-preview span {
  margin-right: 9px;
  font-weight: 100;
}
.movie-introduce .content .movie-info .center {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 45px;
  text-align: justify;
}
.movie-introduce .content .movie-info .bottom {
  color: #fff;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  width: 45%;
}
.movie-introduce .content .movie-info .bottom .movie-cast p {
  margin-bottom: 1px;
  font-weight: 500px;
}
.movie-introduce .content .movie-info .bottom .movie-cast span {
  font-weight: 300;
}

.movie-navbar {
  background-color: #182131;
  border-bottom: 1px solid #808591;
  padding: 3px 0;
}
.movie-navbar .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-navbar .content ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: relative;
  margin: 0;
}
.movie-navbar .content ul :first-child {
  padding-right: 0px;
}
.movie-navbar .content ul .active {
  display: flex;
  justify-self: unset;
  flex-direction: column;
}
.movie-navbar .content ul .active svg {
  position: absolute;
  bottom: -3px;
}
.movie-navbar .content ul .active a {
  color: yellow;
}
.movie-navbar .content ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  font-weight: 300;
}
.movie-navbar .content ul li {
  list-style-type: none;
  padding: 10px 28px;
}

.movie-actros {
  background-color: #182131;
  padding: 20px 0;
}
.movie-actros .content {
  color: #fff;
  border-bottom: 1px solid #808591;
}
.movie-actros .content .movie-actor-boxes {
  display: flex;
  margin-right: -6px;
  flex-wrap: wrap;
}
.movie-actros .content .movie-actor-boxes .movie-actor-box {
  border-radius: 11px;
  overflow: hidden;
  margin: 10px 6px;
  width: 18%;
}
.movie-actros .content .movie-actor-boxes .movie-actor-box .top {
  height: 225px;
}
.movie-actros .content .movie-actor-boxes .movie-actor-box .top img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.movie-actros .content .movie-actor-boxes .movie-actor-box .bottom {
  background-color: #25344b;
  padding: 4px 0;
  text-align: center;
}
.movie-actros .content .movie-actor-boxes .movie-actor-box .bottom span,
.movie-actros .content .movie-actor-boxes .movie-actor-box .bottom h4 {
  color: #fff;
}
.movie-actros .content h3 {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 15px;
}
.movie-actros h4 {
  color: yellow;
  margin: 17px 0;
}

.movie-comment {
  background-color: #182131;
  position: relative;
}
.movie-comment .right-background,
.movie-comment .left-background {
  position: absolute;
  top: 35%;
}
.movie-comment .left-background {
  left: 0;
}
.movie-comment .content {
  display: flex;
  flex-direction: column;
}
.movie-comment .content .top h3 {
  color: #fff;
  margin: 5px 0;
  font-size: 25px;
}
.movie-comment .content .center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-comment .content .center .center-border {
  margin: 0 15px;
  background-color: #808591;
}
.movie-comment .content .center .movie-comment-box {
  display: flex;
}
.movie-comment .content .center .movie-comment-box .movie-comment-box-image {
  margin-left: 16px;
}
.movie-comment .content .center .movie-comment-box .movie-comment-box-image img {
  border-radius: 41px;
}
.movie-comment .content .center .movie-comment-box .movie-comment-box-info .box-info-top {
  display: flex;
  align-items: center;
}
.movie-comment .content .center .movie-comment-box .movie-comment-box-info .box-info-top h5 {
  font-size: 18px;
  color: #fff;
}
.movie-comment .content .center .movie-comment-box .movie-comment-box-info .box-info-top svg {
  margin: 0 12px;
}
.movie-comment .content .center .movie-comment-box .movie-comment-box-info .box-info-top span {
  color: #fff;
}
.movie-comment .content .center .movie-comment-box .movie-comment-box-info .box-info-bottom p {
  color: #fff;
  line-height: 31px;
  font-weight: 300;
}
.movie-comment .content .center .movie-comment-box .movie-comment-box-info .box-info-bottom a {
  color: #FFBB00;
}
.movie-comment .content .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-comment .content .bottom .right span {
  color: #fff;
  font-weight: 300;
}
.movie-comment .content .bottom .right a {
  color: #FFBB00;
  font-size: 17px;
  font-weight: 300;
  border: 1px solid #FFBB00;
  border-radius: 6px;
  padding: 6px 14px;
}
.movie-comment .content .bottom .left a {
  font-weight: 400;
  color: #fff;
}
.movie-comment hr {
  margin: 0;
}

.movie-reports {
  background-color: #182131;
  padding: 20px 0px;
}
.movie-reports .content .top {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
}
.movie-reports .content .bottom {
  display: flex;
  margin: 20px 0;
}
.movie-reports .content .bottom .clip {
  position: relative;
  width: 40%;
  margin-left: 50px;
}
.movie-reports .content .bottom .clip svg {
  top: 31%;
  position: absolute;
  right: 45%;
}
.movie-reports .content .bottom .clip span {
  top: 64%;
  position: absolute;
  left: 3%;
  color: #fff;
  background-color: black;
  padding: 2px 18px;
  border-radius: 2px;
}
.movie-reports .content .bottom .clip .bottom-note h4 {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}
.movie-reports hr {
  margin: 0;
}

.movie-recommend {
  background-color: #182131;
  padding-top: 25px;
}
.movie-recommend .content .top {
  color: #fff;
  font-size: 23px;
  font-weight: 300;
  margin-bottom: 35px;
}
.movie-recommend .content .center {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.movie-recommend .content .center .movie-recommend-list img {
  border-radius: 10px;
}
.movie-recommend .content .bottom {
  display: flex;
  justify-content: end;
  margin: 0;
}
.movie-recommend .content .bottom a {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}/*# sourceMappingURL=style.css.map */